+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| actor_id    | int     |
| director_id | int     |
| timestamp   | int     |
+-------------+---------+
timestamp is the primary key (column with unique values) for this table.
 

Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
ActorDirector table:
+-------------+-------------+-------------+
| actor_id    | director_id | timestamp   |
+-------------+-------------+-------------+
| 1           | 1           | 0           |
| 1           | 1           | 1           |
| 1           | 1           | 2           |
| 1           | 2           | 3           |
| 1           | 2           | 4           |
| 2           | 1           | 5           |
| 2           | 1           | 6           |
+-------------+-------------+-------------+
Output: 
+-------------+-------------+
| actor_id    | director_id |
+-------------+-------------+
| 1           | 1           |
+-------------+-------------+
Explanation: The only pair is (1, 1) where they cooperated exactly 3 times.

In [4]:
import pandas as pd

# Create the data
data = {
    'actor_id': [1, 1, 1, 1, 1, 2, 2],
    'director_id': [1, 1, 1, 2, 2, 1, 1],
    'timestamp': [0, 1, 2, 3, 4, 5, 6]
}

# Convert to DataFrame
actor_director = pd.DataFrame(data)

# Display the DataFrame
print(actor_director)

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [20]:
def actors_and_directors(actor_director: pd.DataFrame):
    #first we need to group the actors and directors, and count how many times they worked using size
    grouped = actor_director.groupby(['actor_id', 'director_id']).size()
    #we really don't need to set a new dataframe here, but I did. The df from above is missing some info, so we need to
    #reset the index and assign a name to the new column
    times_worked = grouped.reset_index(name = 'count')
    #setting a condition
    condition = (times_worked['count'] > 2)
    #filtering by the condition
    results = times_worked.loc[condition][['actor_id', 'director_id']]
    
    return results

In [7]:
actor_director['duplicate'] = actor_director.duplicated(subset = ['actor_id','director_id']).any()
print(actor_director)

   actor_id  director_id  timestamp  duplicate
0         1            1          0       True
1         1            1          1       True
2         1            1          2       True
3         1            2          3       True
4         1            2          4       True
5         2            1          5       True
6         2            1          6       True

In [14]:
grouped = actor_director.groupby(['actor_id','director_id']).size()
times_worked = grouped.reset_index(name = 'count')

In [19]:
condition = (times_worked['count'] > 2)
results = times_worked.loc[condition][['actor_id', 'director_id']]
print(results)

   actor_id  director_id
0         1            1