+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| date_id     | date    |
| make_name   | varchar |
| lead_id     | int     |
| partner_id  | int     |
+-------------+---------+
There is no primary key (column with unique values) for this table. It may contain duplicates.
This table contains the date and the name of the product sold and the IDs of the lead and partner it was sold to.
The name consists of only lowercase English letters.
 

For each date_id and make_name, find the number of distinct lead_id's and distinct partner_id's.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
DailySales table:
+-----------+-----------+---------+------------+
| date_id   | make_name | lead_id | partner_id |
+-----------+-----------+---------+------------+
| 2020-12-8 | toyota    | 0       | 1          |
| 2020-12-8 | toyota    | 1       | 0          |
| 2020-12-8 | toyota    | 1       | 2          |
| 2020-12-7 | toyota    | 0       | 2          |
| 2020-12-7 | toyota    | 0       | 1          |
| 2020-12-8 | honda     | 1       | 2          |
| 2020-12-8 | honda     | 2       | 1          |
| 2020-12-7 | honda     | 0       | 1          |
| 2020-12-7 | honda     | 1       | 2          |
| 2020-12-7 | honda     | 2       | 1          |
+-----------+-----------+---------+------------+
Output: 
+-----------+-----------+--------------+-----------------+
| date_id   | make_name | unique_leads | unique_partners |
+-----------+-----------+--------------+-----------------+
| 2020-12-8 | toyota    | 2            | 3               |
| 2020-12-7 | toyota    | 1            | 2               |
| 2020-12-8 | honda     | 2            | 2               |
| 2020-12-7 | honda     | 3            | 2               |
+-----------+-----------+--------------+-----------------+
Explanation: 
For 2020-12-8, toyota gets leads = [0, 1] and partners = [0, 1, 2] while honda gets leads = [1, 2] and partners = [1, 2].
For 2020-12-7, toyota gets leads = [0] and partners = [1, 2] while honda gets leads = [0, 1, 2] and partners = [1, 2].

In [1]:
import pandas as pd

# Create the data
data = {
    'date_id': ['2020-12-8', '2020-12-8', '2020-12-8', '2020-12-7', '2020-12-7', '2020-12-8', '2020-12-8', '2020-12-7', '2020-12-7', '2020-12-7'],
    'make_name': ['toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'honda', 'honda', 'honda', 'honda', 'honda'],
    'lead_id': [0, 1, 1, 0, 0, 1, 2, 0, 1, 2],
    'partner_id': [1, 0, 2, 2, 1, 2, 1, 1, 2, 1]
}

# Convert to DataFrame
daily_sales_df = pd.DataFrame(data)

# Display the DataFrame
print(daily_sales_df)

     date_id make_name  lead_id  partner_id
0  2020-12-8    toyota        0           1
1  2020-12-8    toyota        1           0
2  2020-12-8    toyota        1           2
3  2020-12-7    toyota        0           2
4  2020-12-7    toyota        0           1
5  2020-12-8     honda        1           2
6  2020-12-8     honda        2           1
7  2020-12-7     honda        0           1
8  2020-12-7     honda        1           2
9  2020-12-7     honda        2           1

In [16]:
grouped = daily_sales_df.groupby(['date_id','make_name'])[['lead_id','partner_id']].nunique().reset_index()
sorted_df = grouped.sort_values(['date_id'],  ascending = True)

print(sorted_df)

     date_id make_name  lead_id  partner_id
0  2020-12-7     honda        3           2
1  2020-12-7    toyota        1           2
2  2020-12-8     honda        2           2
3  2020-12-8    toyota        2           3

In [17]:
def daily_leads_and_partners(daily_sales: pd.DataFrame):
    #group by the date and make, and then take the counts of the unique values for lead and partner
    grouped = daily_sales.groupby(['date_id', 'make_name'])[['lead_id', 'partner_id']].nunique().reset_index()
    #order correct by the make name first, and then the date id
    sorted_df = grouped.sort_values(['date_id'], ascending = True).rename(columns = {'lead_id':'unique_leads', 'partner_id':'unique_partners'})
    
    return sorted_df