+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| sell_date   | date    |
| product     | varchar |
+-------------+---------+
There is no primary key (column with unique values) for this table. It may contain duplicates.
Each row of this table contains the product name and the date it was sold in a market.
 

Write a solution to find for each date the number of different products sold and their names.

The sold products names for each date should be sorted lexicographically.

Return the result table ordered by sell_date.

The result format is in the following example.

 

Example 1:

Input: 
Activities table:
+------------+------------+
| sell_date  | product     |
+------------+------------+
| 2020-05-30 | Headphone  |
| 2020-06-01 | Pencil     |
| 2020-06-02 | Mask       |
| 2020-05-30 | Basketball |
| 2020-06-01 | Bible      |
| 2020-06-02 | Mask       |
| 2020-05-30 | T-Shirt    |
+------------+------------+
Output: 
+------------+----------+------------------------------+
| sell_date  | num_sold | products                     |
+------------+----------+------------------------------+
| 2020-05-30 | 3        | Basketball,Headphone,T-shirt |
| 2020-06-01 | 2        | Bible,Pencil                 |
| 2020-06-02 | 1        | Mask                         |
+------------+----------+------------------------------+
Explanation: 
For 2020-05-30, Sold items were (Headphone, Basketball, T-shirt), we sort them lexicographically and separate them by a comma.
For 2020-06-01, Sold items were (Pencil, Bible), we sort them lexicographically and separate them by a comma.
For 2020-06-02, the Sold item is (Mask), we just return it.

In [1]:
import pandas as pd

# Create the data
activities_data = {
    'sell_date': ['2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30'],
    'product': ['Headphone', 'Pencil', 'Mask', 'Basketball', 'Bible', 'Mask', 'T-Shirt']
}

# Convert to DataFrame
activities_df = pd.DataFrame(activities_data)

# Display the DataFrame
print(activities_df)

    sell_date     product
0  2020-05-30   Headphone
1  2020-06-01      Pencil
2  2020-06-02        Mask
3  2020-05-30  Basketball
4  2020-06-01       Bible
5  2020-06-02        Mask
6  2020-05-30     T-Shirt

In [ ]:
import pandas as pd

def categorize_products(activities: pd.DataFrame):
    
    #Group by 'sell_date' and aggreate unique products
    grouped_df = activities.groupby(['sell_date'])['product'].unique().reset_index().rename(columns = {'sell_date':'sell_date', 'product':'products'})
    
    #rename columns for clarity
    grouped = grouped.rename(columns = {'product': 'products'})
    
    #add a new column for the count of unique productssold
    grouped_df['count_sold'] = grouped_df['products'].apply(len) #or .str.len()
    
    #sort the list of products
    grouped_df['products'] = grouped_df['products'].apply(sorted)
    
    #reorder
    result = grouped_df[['sell_date', 'num_sold','products']]
    
    return result

In [ ]:
import pandas as pd
#the issue with your answer was some formatting issues, this seeks to resolve that
def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    # Group by 'sell_date' and aggregate unique products
    grouped = activities.groupby('sell_date')['product'].unique().reset_index()

    # Rename columns for clarity
    grouped = grouped.rename(columns={'product': 'products'})

    # Add a new column for the count of unique products sold
    grouped['num_sold'] = grouped['products'].str.len()

    # Step 1: Sort the list of products
    for i in range(len(grouped)):
        grouped.at[i, 'products'] = sorted(grouped.at[i, 'products'])

    # Step 2: Concatenate the sorted list into a comma-separated string
    for i in range(len(grouped)):
        grouped.at[i, 'products'] = ','.join(grouped.at[i, 'products'])

    # Reorder columns
    result = grouped[['sell_date', 'num_sold', 'products']]

    # Sort by 'sell_date'
    result = result.sort_values('sell_date')

    return result

In [2]:
sorted_df = activities_df.sort_values(by = 'sell_date')
print(sorted_df)

    sell_date     product
0  2020-05-30   Headphone
3  2020-05-30  Basketball
6  2020-05-30     T-Shirt
1  2020-06-01      Pencil
4  2020-06-01       Bible
2  2020-06-02        Mask
5  2020-06-02        Mask

unique_items = activities_df.nunique(['product'])

In [6]:
unique_items = activities_df['product'].nunique()
print(unique_items)

6

In [24]:
grouped_df = activities_df.groupby(['sell_date'])['product'].unique().reset_index().rename(columns = {'product':'products'})
#grouped_df['count_sold'] = grouped_df['product'].nunique()
print(grouped_df)

    sell_date                          products
0  2020-05-30  [Headphone, Basketball, T-Shirt]
1  2020-06-01                   [Pencil, Bible]
2  2020-06-02                            [Mask]

In [21]:
grouped_df['num_sold'] = grouped_df['products'].apply(len)
print(grouped_df)

    sell_date                          products  num_sold
0  2020-05-30  [Headphone, Basketball, T-Shirt]         3
1  2020-06-01                   [Pencil, Bible]         2
2  2020-06-02                            [Mask]         1

In [23]:
grouped_df['products'] = grouped_df['products'].apply(sorted)
print(grouped_df)

    sell_date                          products  num_sold
0  2020-05-30  [Basketball, Headphone, T-Shirt]         3
1  2020-06-01                   [Bible, Pencil]         2
2  2020-06-02                            [Mask]         1