+-------------+------+
| Column Name | Type |
+-------------+------+
| teacher_id  | int  |
| subject_id  | int  |
| dept_id     | int  |
+-------------+------+
(subject_id, dept_id) is the primary key (combinations of columns with unique values) of this table.
Each row in this table indicates that the teacher with teacher_id teaches the subject subject_id in the department dept_id.
 

Write a solution to calculate the number of unique subjects each teacher teaches in the university.

Return the result table in any order.

The result format is shown in the following example.

 

Example 1:

Input: 
Teacher table:
+------------+------------+---------+
| teacher_id | subject_id | dept_id |
+------------+------------+---------+
| 1          | 2          | 3       |
| 1          | 2          | 4       |
| 1          | 3          | 3       |
| 2          | 1          | 1       |
| 2          | 2          | 1       |
| 2          | 3          | 1       |
| 2          | 4          | 1       |
+------------+------------+---------+
Output:  
+------------+-----+
| teacher_id | cnt |
+------------+-----+
| 1          | 2   |
| 2          | 4   |
+------------+-----+
Explanation: 
Teacher 1:
  - They teach subject 2 in departments 3 and 4.
  - They teach subject 3 in department 3.
Teacher 2:
  - They teach subject 1 in department 1.
  - They teach subject 2 in department 1.
  - They teach subject 3 in department 1.
  - They teach subject 4 in department 1.

In [1]:
import pandas as pd

# Data for the DataFrame
data = {
    'teacher_id': [1, 1, 1, 2, 2, 2, 2],
    'subject_id': [2, 2, 3, 1, 2, 3, 4],
    'dept_id': [3, 4, 3, 1, 1, 1, 1]
}

# Create the DataFrame
teacher = pd.DataFrame(data)

# Display the DataFrame
print(teacher)

   teacher_id  subject_id  dept_id
0           1           2        3
1           1           2        4
2           1           3        3
3           2           1        1
4           2           2        1
5           2           3        1
6           2           4        1

In [ ]:
def count_unique_subjects(teacher: pd.DataFrame):
    #first, we want to grab only the unique classes each teacher teaches by subject_id. We do this in a 
    #double group function, and keep the first occurences of each combo.
    teacher_grouped = teacher.groupby(['teacher_id','subject_id']).first().reset_index()
    #then lets take the sum of the subject ids to find the count
    teacher_sums = teacher_grouped.groupby(['teacher_id'])['subject_id'].count().reset_index().rename(columns = {'subject_id':'cnt'})
    #and yeah thats it
    return teacher_sums

In [ ]:
new_df = df.groupby(['player_id'])['event_date'].min().reset_index()
customers_unique = customers.drop_duplicates(subset = 'email', keep = 'first')

In [6]:
teacher_unique = teacher.drop_duplicates(subset = 'subject_id', keep = 'first')
teacher_sums = teacher_unique.groupby(['teacher_id'])['subject_id'].count().reset_index().rename(columns = {'subject_id':'cnt'})
print(teacher_sums)

   teacher_id  cnt
0           1    2
1           2    2

In [12]:
teacher_grouped = teacher.groupby(['teacher_id','subject_id']).first().reset_index()
#teachers_unique = teacher_grouped.drop_duplicates(subset = ['teacher_id', 'subject_id'])
teacher_sums = teacher_grouped.groupby(['teacher_id'])['subject_id'].count().reset_index().rename(columns = {'subject_id':'cnt'})

   teacher_id  cnt
0           1    2
1           2    4